NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxxxxxx
ADMIN_EMAIL=admin@tudominio.com
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Opcional: envío de QR por correo usando Resend
RESEND_API_KEY=
FROM_EMAIL=Accesos <accesos@tudominio.com>
